<h1>Espace Utilisateur</h1>

<label for="selectTheme">Thème :</label>
<select [(ngModel)]="selectedColor" id="selectTheme" (change)="changeTheme()"> 
  <option value="#9000ff">Violet</option>
  <option value="#ff0000">Rouge</option>
  <option value="#299614">Vert</option>
  <option value="#0000ff">Bleu</option>
  <option value="#5FBDFF">Bleu clair</option>
</select>
<div class="mb-10">
  <div class="border-b-2">
    <button
      *ngFor="let link of navigation"
      [class]="url == link.path ? 'nav-btn-active' : 'nav-btn'"
      [routerLink]="link.path"
    >
      {{ link.label }}
    </button>
  </div>
</div>
<router-outlet></router-outlet>
