<header class="header" [appTheme]="getTheme">
  <h1 routerLink="/"  class="title_container">
    <img src="https://cdn-icons-png.flaticon.com/512/73/73960.png" alt="This is cinéma" class="logo">
    <button>CinéApp</button>
  </h1>
  <div class="header_user">
    <ng-container *ngIf="isUserConnected; else loginTemplate">
      <div class="user-actions">
        <button *ngIf="isUserAdmin" routerLink="/dashboard">
          <h2>Dashboard</h2>
        </button>
        <button (click)="toggleDropdown()"><h2>Créer</h2></button>
        <ul class="dropdown-menu" [class.show]="dropdownOpen">
          <li (click)="ajouterUneFiche()"><a>Créer Fiche</a></li>
          <li (click)="ajouterUnArticle()"><a>Créer Article</a></li>
        </ul>
      </div>
      <h2 routerLink="/profil">{{ getUsername }}</h2>
      <button class="btn-secondary" (click)="logout()" routerLink="/login">
        Se déconnecter
      </button>
    </ng-container>
    <ng-template #loginTemplate>
      <button class="btn-secondary" routerLink="/login">Se connecter</button>
    </ng-template>
  </div>
</header>
