<button *ngIf="isUserConnected()" (click)="ajouterUneFiche()" class="btn text-right">+</button>

<div class="select-categorie-container" [formGroup]="categorieForm">

    <label for="categorieSelect">Catégorie :</label>
    <select id="categorieSelect" formControlName="categorie">
        <option value="tous">Tous</option>
        <option value="Film">Films</option>
        <option value="Série">Séries</option>
    </select>
</div>

<section class="fiche_container" *ngFor="let content of fichesContent; let i = index">
    <div class="fiche_content" (click)="openFiche(content.id)">
        <img [src]="content.image" alt="{{content.title}}" class="fiche-image">
        <a class="text_content">
            <h4 class="fiche_label" id="fiche_{{content.id}}">
                <b>{{content.title}}</b>
            </h4>
            <div>{{content.category}}</div>
        </a>
    </div>
</section>