
<div class="select-categorie-container" [formGroup]="categorieForm">
  <label for="categorieSelect">Catégorie :</label>
  <select id="categorieSelect" formControlName="categorie">
    <option value="tous">Tous</option>
    <option value="Film">Films</option>
    <option value="Série">Séries</option>
  </select>

  <label for="triSelect">Tri :</label>
  <select id="triSelect" formControlName="tri">
    <option value="title-asc">Nom (A-Z)</option>
    <option value="title-desc">Nom (Z-A)</option>
    <option value="firstAired-asc">Date de sortie la plus ancienne à la plus récente</option>
    <option value="firstAired-desc">Date de sortie la plus récente à la plus ancienne</option>
  </select>

  <button *ngIf="isUserConnected()" (click)="ajouterUneFiche()" class="btn text-right">+</button>
</div>

<div class="fiche_container grid md:grid-cols-3 lg:grid-cols-5 gap-2">
  <div class="fiche w-50 relative" *ngFor="let content of fichesContent | tri:sortField:sortOrder; let i = index" [appTooltip]="content.title">
    <div class="fiche_content" (click)="openFiche(content.id)">
      <img
        [src]="content.image"
        alt="{{ content.title }}"
        class="fiche-image"
      />
      <a class="text_content">
        <h4 class="fiche_label" id="fiche_{{ content.id }}">
          {{ content.title }}
        </h4>
        <div>{{ content.category }}</div>
      </a>
    </div>
    <span
      (click)="manageList(content.id)"
      *ngIf="isUserConnected() && allFavoriteId.includes(content.id)"
      class="material-symbols-outlined cursor-pointer text-white absolute top-5 right-5 shadow-lg"
    >
      check_box
    </span>
    <span
      (click)="manageList(content.id)"
      *ngIf="isUserConnected() && !allFavoriteId.includes(content.id)"
      class="material-symbols-outlined cursor-pointer text-white absolute top-5 right-5 shadow-lg"
    >
      check_box_outline_blank
    </span>
  </div>
</div>
