<button *ngIf="isUserConnected()" (click)="ajouterUneFiche()" class="btn text-right">+</button>
<div class="select-categorie-container" [formGroup]="categorieForm">
    <label for="categorieSelect">Catégorie :</label>
    <select id="categorieSelect" formControlName="categorie">
        <option value="tous">Tous</option>
        <option value="Film">Films</option>
        <option value="Série">Séries</option>
    </select>
</div>

<div class="fiche_container grid md:grid-cols-3 lg:grid-cols-5 gap-2">
    <div class="fiche w-50 relative" *ngFor="let content of fichesContent; let i = index">
        <div class="fiche_content" (click)="openFiche(content.id)">
            <img [src]="content.image" alt="{{content.title}}" class="fiche-image rounded  object-fill">
            <a class="text_content text-center p-3">
                <h4 class="fiche_label font-bold line-clamp-2" id="fiche_{{content.id}}">
                    {{content.title}}
                </h4>
                <div>{{content.category}}</div>
            </a>
        </div>
        <span (click)="manageList()" *ngIf=" isUserConnected() && allFavoriteId.includes(content.id);"
            class="material-symbols-outlined cursor-pointer text-white absolute top-5 right-5 shadow-lg">
            check_box
        </span>
        <span (click)="manageList()" *ngIf="isUserConnected() && !allFavoriteId.includes(content.id)"
            class="material-symbols-outlined cursor-pointer text-white absolute top-5 right-5 shadow-lg">
            check_box_outline_blank
        </span>

    </div>
</div>