.article-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    h2 {
        color: #2a5885; 
        margin-bottom: 20px;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center; 
    }

    p {
        color: #4a4a4a;
        line-height: 1.8;
        font-size: 16px; 
        margin-bottom: 10px; 
        strong {
            color: #333333;
            font-weight: bold; 
        }
    }

    button {
        background-color: #0056b3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
            background-color: #003d82;
        }
    }  
}

.btn-accueil {
    margin: 20px;
    top: 10px;
    left: 10px;
    background-color: rgb(125, 125, 125);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }    