<div class="fiche-form-container">
    <h1>Ajout d'une fiche</h1>
    <form [formGroup]="ficheForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" formControlName="title" required>
        </div>

        <div class="form-group">
            <label for="image">URL de l'Image</label>
            <input type="text" class="form-control" id="image" formControlName="image">
        </div>

        <div class="form-group">
            <label for="category">Catégorie</label>
            <select class="form-control" id="category" formControlName="category">
                <option value="Film">Film</option>
                <option value="Série">Série</option>
            </select>
        </div>

        <div class="form-group">
            <label for="duration">Durée en minutes</label>
            <input type="number" class="form-control" id="duration" formControlName="duration">
        </div>

        <div class="form-group">
            <label for="firstAired">Date de Première Diffusion</label>
            <input type="date" class="form-control" id="firstAired" formControlName="firstAired">
        </div>

        <div class="form-group">
            <label for="genres">Genres</label>
            <select multiple class="form-control" formControlName="genres">
                <option *ngFor="let content of genresContent" selected="true" [value]="content">{{ content }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="platforms">Plateformes</label>
            <input type="text" class="form-control" id="platforms" formControlName="platforms">
        </div>

        <button type="submit" class="btn btn-primary">Soumettre</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Réinitialiser</button>
    </form>
</div>