<form [formGroup]="ficheForm" class="fiche-form-container">
    <div class="flex flex-col gap-3" [formGroup]="ficheForm">
        <input type="text" placeholder="Titre" formControlName="title" class="input" />
        <select placeholder="Username" class="input" formControlName="category">
            <option value="serie">Series</option>
            <option value="film">Movie</option>
        </select>
        <input type="number" placeholder="Duration" class="input" formControlName="duration" />
        <input type="datetime-local" placeholder="First Aired" class="input" formControlName="firstAired" />
        <select multiple class="input flex" formControlName="genres">
            <option *ngFor="let content of genresContent" selected="true" [value]="content.id">{{ content.name }}
            </option>
        </select>
        <input type="text" placeholder="Platforms" class="input" formControlName="platforms" />

        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Soumettre</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Réinitialiser</button>
    </div>
</form>