<div class="flex flex-col gap-3 h-full">
  <input [formControl]="title" />
  <button
    (click)="createList()"
    class="bg-violet-200 disabled:bg-violet-50 font-bold py-1 px-2 text-violet-800 rounded"
  >
    Ajouter une nouvelle fiche ...
  </button>

  <select
    multiple
    [formControl]="selection"
    class="border-none overflow-auto flex-1"
  >
    <option
      [class]="' p-5 shadow mb-2 rounded'"
      format="large"
      class="flex"
      *ngFor="let list of lists"
      [value]="list.id"
    >
      <!-- <input type="checkbox" [checked]="listItemStyle(list)" /> -->
      <!-- <div (click)="updateSelectedList(list.id)"> -->
      {{ list.title }}
      <!-- </div> -->
    </option>
  </select>

  <Button (click)="updateList()" class="btn flex ml-auto gap-3 mt-auto">
    <span class="material-symbols-outlined"> save </span>
    Enregistrer
  </Button>
</div>
