<!-- list-item.component.html -->

<div class="list-item-container">
  <div class="list-item-header">
    <h3 class="list-item-title">{{ list?.title }}</h3>
    <span
      (click)="removeList()"
      class="material-symbols-outlined list-item-close"
    >
      close
    </span>
  </div>

  <div class="list-item-grid">
    <div
      *ngFor="let item of items"
      class="list-item-item rounded relative hover:bg-slate-100"
    >
      <img [src]="item.image" class="list-item-image" />
      <div class="list-item-content p-2">
        <p class="list-item-content-title">{{ item.title }}</p>
        <p class="list-item-content-category">{{ item.category }}</p>
      </div>
      <button (click)="editList(item.id)" class="list-item-edit-button">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
  </div>
</div>
