<div [id]="'modal' + '-' + variant" class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
      <button class="close-butto" (click)="closeMe($event)">&times;</button>
    </div>
    <div [ngSwitch]="variant" class="modal-content">
      <app-ajoutfiche
        *ngSwitchCase="'ajout-fiche'"
        [fiche]="context['fiche']"
      ></app-ajoutfiche>
      <app-list-modal
        [ficheId]="context['ficheId']"
        *ngSwitchCase="'list-modal'"
      ></app-list-modal>
    </div>
  </div>
</div>
